@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

* {
	font-family: "Lato", sans-serif;
}
 
html,
body {
	height: 100%;
}

.flex {
	display: flex;
	flex-direction: row;
	background-color: #fdde7e;
	width: 1200px;
	height: 600px;
	align-items: center;
	justify-content: space-around;
	margin: auto;
}

.flex__item {
	width: 360px;
	height: 445px;
	padding: 40px 100px 30px;
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 0 2px #ceb567;
}

.flex__item--gold {
	width: 360px;
	height: 500px;	
}

.flex__item-price {
	font-weight: bold;
	font-size: 60px;
	color: #02995b;
	text-align: center;
	max-width: 140px;
	overflow: hidden;
}

.flex__item-img {
	font-size: 0;
	width: 140px;
	height: 140px;
	background-repeat:no-repeat;
	background-size: contain;
	margin: 10px auto;
}

.flex__item-img--br {
	background-image: url(img/cup-bronze.png);
}

.flex__item-img--gl {
	background-image: url(img/cup-gold.png);
	margin: 40px auto;
}

.flex__item-img--sl {
	background-image: url(img/cup-silver.png);
}

.flex__item-text  {
	text-align: center;
	max-width: 140px;
	max-height: 150px;
	overflow: hidden;
}

.flex__item-text h1{
	font-size: 40px;
	font-weight: 400;
}

.flex__item-text span {
	font-size: 20px;
	font-weight: 300;
	opacity: 0.5;
}